 <!-- MAIN MENU START -->
 <section class="menu"  >


    <h2 class='menu-title'>Nuestras<span> Especialidades</span></h2>

  <div class="menu-container">
      <div class="menu-container-item menu-container-item-1">
             <h3 class='menu-container-item-title'>hot CHEDDAR</h3>
                 <p class='menu-container-item-text'>Salmón ahumado, queso cheddar y langostinos. Empanado y cocido.</p>
      </div>
      <div class="menu-container-item menu-container-item-2">
             <h3 class='menu-container-item-title'>Samurai Roll</h3>
                 <p class='menu-container-item-text'>Langostinos panizados cocidos, queso Phila, mango y pizca de
                     ahumado. Cubierto con lenguado o besugo.</p>
      </div>
      <div class="menu-container-item menu-container-item-3">
             <h3 class='menu-container-item-title'>Hot Roll - Combinado 18pz</h3>
                 <p class='menu-container-item-text'>5 Hot Tasty, 5 Hot Cheddar, 4 Ebi Roll, 4 Flavor</p>
      </div>
      <div class="menu-container-item menu-container-item-4">
             <h3 class='menu-container-item-title'>Salteado de Mariscos</h3>
                 <p class='menu-container-item-text'>Langostinos, calamares y camarones salteados con salsa japonesa,
                     sobre colchón de fideos de arroz fritos.</p>
      </div>
      <div class="menu-container-item menu-container-item-5">
             <h3 class='menu-container-item-title'>Ebi Furai</h3>
                 <p class='menu-container-item-text'>Crocantes langostinos Rebozados.</p>
      </div>
      <div class="menu-container-item menu-container-item-6">
             <h3 class='menu-container-item-title'>Yakisake</h3>
                 <p class='menu-container-item-text'>Salmón rosado a la plancha con salsa de jengibre y gohan.</p>
      </div>
  </div> 
  
  <div class="menu-btn-link-container">
             <a href="#" class="menu-link-btn" title="link a carta">
                 menu
             </a>
 </div>
</section>



<!-- MAIN MENU END -->

