.footer{padding:var(--default-padding);
    padding-top: var(--default-top-padding);
    background-color: var(--black);
    border-top: 1px solid var(--red);
    text-align: end;
    

}
.footer h2{font-size: .7rem;
color: var(--white);
font-style: italic;


}