 <!-- NAV -->
  
 <nav class='nav'    >
   
    <!-- img/logo-nav-path.svg -->
    <a href="#main" class="nav-logo-link" > 
    <img class="nav-logo" src="../../../assets/img/logo-nav-path.svg" alt="kawai sushi main" srcset="">
    </a>
    <button class="dropdown-btn" id='dropdownBtn' aria-label="Menu secciones" aria-haspopup="true" aria-expanded="false"  (click)="shouldShow = !shouldShow;"><i class="fas fa-bars dropdown-btn-icon"></i></button>  
    <ul class='nav-menu'id='navMenu' #ul [ngClass]="{show: shouldShow, hide: !shouldShow}">
        <li class='nav-menu-item' (click)="shouldShow = !shouldShow;"  > <a routerLink='/' class='nav-menu-item-link' title='Home'> Home</a></li>
        <li class='nav-menu-item' (click)="shouldShow = !shouldShow;"  > <a routerLink="nosotros" class='nav-menu-item-link' title='Nosotros'> Nosotros</a></li>
        <li class='nav-menu-item' (click)="shouldShow = !shouldShow;"  > <a routerLink="menu" class='nav-menu-item-link' title='Menu'> Menu</a></li>
        <li class='nav-menu-item' (click)="shouldShow = !shouldShow;"  > <a routerLink="staff" class='nav-menu-item-link' title='Delivery'>Staff</a></li>
        <li class='nav-menu-item' (click)="shouldShow = !shouldShow;"  > <a routerLink="promociones" class='nav-menu-item-link' title='Promociones'> Promociones</a></li>
        <li class='nav-menu-item' (click)="shouldShow = !shouldShow;"  > <a routerLink="sucursales" class='nav-menu-item-link' title='Reservas'> Sucursales</a></li>
        <li class='nav-menu-item' (click)="shouldShow = !shouldShow;"  > <a routerLink="contacto" class='nav-menu-item-link' title='Contacto'> Contacto</a></li>
    </ul>
    
</nav>
