.cart-button{ background-color: var(--red);
    color:var(--white);
    display:inline-block;
    padding:.5rem 1rem;
    transform: translate3d(0, 0, 0);
    position:sticky; 
    top: 25%;
    left: 100%;
    transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  
    z-index: 2;
  
}
.cart-button:hover{ padding-right: 2rem;

}