 <!-- MAIN START-->
 <main class="team" id='main'>
    <div class="main-left">
        
        <h2>
            <span>10000</span>
            <br>
            Años de Cultura
        </h2>

        <div class="sushi-chef-box">
            <img src="../../../assets/img/sushiwoman-small-compressed.jpeg" alt="" srcset="" class='chef-pic'>
            <div class="sushi-chef-info">
             <p>Rei Ayanami</p>   
               <p>Sushiwoman</p> 
            </div>
        </div>
        <div class="main-left-text">
            <h3><strong>Somos la tercera generación de japoneses en la Argentina. <br>
                 Aprendimos de nuestros antepasados la pasión y el respeto por lo que hacemos. <br>
                </strong></h3>    
                <br>
                <br>

            
               <p>Hace 12 años inauguramos nuestro primer local y desde entonces cuidamos esa <br>
                    maravillosa tradición que nos inculcaron. Queremos acercarte a una de las <br>
                     culturas más antiguas del mundo a través de una propuesta gastronómica con mucha historia. <br>

                 </p> 


        </div>
    </div>
    <div class="main-right">
        
    </div>


</main>


<!-- MAIN END-->
