<main class="promo-section" id='main'>
    <div class="promo-section-first-container">
            <h2 class='promo-section-title'> <span>Nuestras</span> Promociones </h2>
            <p class='promo-section-text'>Vení a disfrutar de una noche romántica con tu pareja, una cena entre amigas, o a festejar tu cumpleaños en familia o con
                amigos. Siempre vas a encontrar una promoción para vos</p>

    </div>   




        <div class="promo-section-container">
                  <div class="promo-section-container-promo-box">
                            <h2 class='promo-section-container-promo-box-title'>Jueves de  Pareja</h2>
                                <div class="promo-section-promo-box-content">
                                    <p>15%</p>
                                    <p>Todos los Jueves , tu pareja y vos,tienen la excusa perfecta para salir</p>
                                </div>
                        </div>
                  <div class="promo-section-container-promo-box">
                            <h2 class='promo-section-container-promo-box-title' >Promo de Cumple</h2>
                                <div class="promo-section-promo-box-content">
                                    <p>Cena Gratis</p>
                                    <p>En el mes de tu cumple Kawai te regala la cena</p>
                                </div>
                        </div>
                  <div class="promo-section-container-promo-box">
                            <h2 class='promo-section-container-promo-box-title'>Miercoles de  Mujer</h2>
                                <div class="promo-section-promo-box-content">
                                    <p>20%</p>
                                    <p>Todos los miercoles las chicas tienen un descuento</p>
                                </div>
                        </div>
                  <div class="promo-section-container-promo-box">
                            <h2 class='promo-section-container-promo-box-title'>Clarin 365</h2>
                                <div class="promo-section-promo-box-content">
                                    <p>20%</p>
                                    <p>Beneficios todos los dias</p>
                                </div>
                        </div>
                  <div class="promo-section-container-promo-box">
                            <h2 class='promo-section-container-promo-box-title'>10 años Kawai</h2>
                                <div class="promo-section-promo-box-content">
                                    <p>20%</p>
                                    <p>En pedidos online</p>
                                    <i class="fas fa-cart-arrow-down"></i>
                                </div>
                        </div>
                  <div class="promo-section-container-promo-box">
                            <h2 class='promo-section-container-promo-box-title'>Clarin 365 Plus</h2>
                                <div class="promo-section-promo-box-content">
                                    <p>30%</p>
                                    <p>Todos los Martes</p>
                                </div>
                        </div>
                   


        </div>
    </main>


