 
 <main>
     <h2>Nuestro  <span>Staff</span> </h2>
  
 <swiper    
           
            [config]="swiperConfig"
           
            class='swiper-wrapper'
           
            
    >


    
        <ng-template    swiperSlide class='swiper-slide' *ngFor='let colaborador of staff ;let i = index ' >
                    <div >
                        <h3>{{colaborador.name | titlecase}}</h3>
                        <p> {{colaborador.email}}</p>
                          <img alt='employee'src='../../../assets/img/staff/{{i}}.jpg'> 
                    </div>
            </ng-template>
     
</swiper> 



</main>



  

 

