
.header{ background-image:linear-gradient(
    282deg
    , #b7b4b436, #02020275), url('../../../assets/img/menubg.jpg');
            
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
           position: relative;
            width: 100%;
            height: var(--section-height);
            padding-top: var(--default-top-padding);
           
   }
   
   
  
  .container{ height: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
  
   }

  
  
  
  
   .hero-title, .us-title, .promo-title{ 
     color:var(--white);
     display:inline-block;
     font-family: 'Courgette', sans-serif;
     font-size: 10vw;
     text-shadow:
     -.5px -.5px 0 var(--black),  
      .5px -.5px 0 var(--black),
      -.5px .5px 0 var(--black),
       .5px .5px 0 var(--black);
       text-align: center;
      
  
  
   }
   
   .hero-title span,.promo-title span {font-family: 'Courgette', sans-serif;
            color:var(--red);
          
  
   }
   .us-title{z-index: 1;
    font-size: 10vw;
   
  
  }
  .us-title span {font-family: 'Courgette', sans-serif; 
                  color:var(--red);
                  
  
   }
   
   .promo-title{font-size:10vw;
                z-index: 1;
     
    }
  
   /* header HOME END */


   @media (max-width:575.98px){
    .header{  background-image:linear-gradient(
     282deg
     , #b7b4b436, #02020275), url('../../../assets/img/menubgsm.png.png');
  
     }
  
   
   }