 <!-- TESTIMONIAL START -->


 <section class="testimonial">

    <h2  class='testimonial-title' ><span class='testimonial-title-span'>Mi </span>Filosofia </h2>

    <div class="testimonial-content">
        <p> "En las manos de mi abuela, descubri los sabores, que sin saberlo, llevaria conmigo toda la vida.
            Hoy me sigo inspirando en aquellos aromas y texturas tradicionales.
            La pasion y el respeto por lo que hago, me acompañan en la busqueda de nuevas propuestas <span>"</span></p>
            <br>
            <p>Hideaki Anno</p>
    </div>

    
</section> 

