

section{ padding:  var(--default-padding);
    h2 { font-family: var(--title-font),'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--red);
    border-bottom: 1px solid;
    display:inline-block;

    }
    img{width:3rem;

     }
     .locales-container{
         padding: var(--default-padding) 0;
         display:grid;
         grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
         gap: 1rem 2rem;
         
     }
     .local-box{border: 1px solid lightgray;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        line-height:2rem;
        position: relative;
        h3{display: flex;
            gap: .5rem;
            font-weight: 800;
            font-size: 1.3rem;
            font-style: italic;
            [type='image/svg+xml']{width: 2rem;
                    
             }

         }

        h3::before{content:'';
                background-color: var(--red);
                width:3rem;
                height: 3rem;
                position:absolute;
                top: 0;
                right: 0;
                clip-path: polygon(100% 0, 0 0, 100% 100%);
                
        }
        h3::after{    content: "";
            background-color: var(--red);
            width: 3rem;
            height: 3rem;
            position: absolute;
            bottom: 0;
           
            -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
            left: 0;
            transform: rotate(
        180deg
        );
            
    }

      }
      p{    font-size: 1.2rem;
        letter-spacing: .1rem;

       }
}