/* ABOUT START */
.about{padding-top: var(--default-top-padding);
    background-color: var(--white);

}
.about-container{
    padding-left: var(--default-padding);
     padding-right: var(--default-padding); 

}
.about-title h2, .about-title span{ font-family:'Courgette', sans-serif;

} 
.about-title h2{border-bottom: 1px solid var(--red);
              color: var(--black);
              display:inline-block;

}
.about-title span{ color: var(--red);


}
.about-text>div>p>span{   
                        font-size: 2em;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        text-align: center;
                        z-index: 1;
                        margin-right: 1rem;
                        color: var(--white);


}
.about-text>div>p>span::before{ position:absolute;
                                display:inline-block;
                                content:'';
                                background-color: var(--red);
                                height: 2rem;
                                width:2rem;
                                z-index: -1;
                                
                                top: .3rem;
                                left: -.23rem;

 }
 .about-text{ display:flex;
              flex-wrap: wrap;
              gap: 1rem;
              padding-top: var(--default-padding);
             
  }
 .about-text-left,
 .about-text-right{    line-height: 1.5rem;
                        flex: .5 1 300px;
                      line-height: 1.5rem;

  }


  /*SLIDER SETTINGS*/
 


  /*SLIDER SETTINGS*/
/* ABOUT END */
.slide-container{ 
                padding-top: var(--default-padding);
                max-width: 100%;
                display:block;
                margin: 0 auto;

}