
 <main class="about" id='main'>

    <div class='about-container'>
        <div class="about-title">
             <h2><span>Sobre </span>Nosotros</h2>
         </div>
         <div class="about-text">
             <div class="about-text-left">
                 
                 <p>
                     <span>S</span>
                     omos la tercera generación de japoneses en la Argentina. Aprendimos de nuestros antepasados la pasión y el respeto por lo que hacemos. Nuestra filosofía se basa en lograr una armonía entre los sabores tradicionales y la cocina moderna. Cuidando especialmente la calidad y la frescura de los ingredientes.
 
                 </p>
             </div>
             <div class="about-text-right">
                 
                 <p>
                     <span>O</span>
                     frecemos una amplia variedad de platos Japoneses que incluyen carnes, pescados, vegetarianos y Sushi.
                     Los invitamos a descubrir nuestra propuesta de nuevos sabores y texturas.
                     Esto es Samurai ¡Bienvenidos!
 
                 </p>
             </div>
         </div>
        </div>
      <app-slider></app-slider>
 </main>  
 