
        <!-- SOCIAL MEDIA VA EN PAGINA NOSOTROS -->
        <section class="social-media">
            <h2 class='social-media-title'>Seguinos</h2>
            <p class='social-media-text'>Nos encantaria que formes parte de nuestra comunidad y te mantengas informado de las últimas novedades de Kawai Sushi.</p>
            <ul class="social-media-icons-container">
              <li>  <a href="#" title='facebook'> <i class="fab fa-facebook"></i></a></li>
                <li> <a href="" title='twitter'> <i class="fab fa-twitter"></i></a></li>
                <li> <a href="" title='instagram'> <i class="fab fa-instagram"></i></a></li>
    
            </ul>
        </section> 
        <!-- SOCIAL MEDIA VA EN PAGINA NOSOTROS -->
    
    
