  <!-- MAP START -->
  <section class="plate">
    
    </section> 
<!-- MAP END -->







<!-- CONTACTO START -->

<section class="contacto">

<div class="contacto-left">
        <div class="contacto-left-img-container"> 
            <img src="../../../assets/img/logo-nav-path.svg" alt="kawai sushi" srcset="" class='contacto-left-logo'>
       </div>      
    
    <ul class="contacto-left-social-media">
        <li><a href="#" title='link red social'> <i class="fab fa-facebook contacto-left-social-media-icon"></i></a></li>
        <li><a href="#" title='link red social'> <i class="fab fa-twitter contacto-left-social-media-icon"></i></a></li>
        <li><a href="#" title='link red social'><i class="fab fa-youtube contacto-left-social-media-icon"></i></a></li>
        <li><a href="#" title='link red social'><i class="fab fa-instagram"></i></a></li>
    </ul>
    <img src="../../../assets/img/certificado-excelencia-compressed.jpg" alt="certificado de excelenca" class='certificate-pic' srcset="">

</div>
<form action="POST" class="form">
    <label for="nombre">Nombre<input type="text" id='nombre' class='form-input-name' require><i class="fas fa-user contacto-right-icon"></i></label>
    <label for="email">E-mail<input type="email" id='email' class='form-input-email' require><i class="far fa-envelope-open contacto-right-icon"></i></label>
    <label for="comentarios">Comentarios<textarea name=""  id='comentarios' class="comentarios" require></textarea></label>
    <button type="submit" class='form-btn-submit'>enviar</button>
</form>
<div class="contacto-right">
    <address class='adress'>
        <ul>
            <li><i class="fas fa-map-marker-alt "></i>Calle Falsa 123-CABA</li>
            <li><i class="fas fa-mobile-alt "></i>1159066928</li>
            <li><i class="far fa-envelope "></i>contacto@kawaisushi.com.ar</li>
        </ul>
    </address>
</div>


</section> 


<!-- CONTACTO END -->






